<!DOCTYPE HTML>
<html>

<head>
    <title>LeARn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Play">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/homemain.css" />
</head>

<body>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Welcome to Learn</h1>
            </header>

            <footer>
                <a href="/login" class="button">Login</a>
                &nbsp; &nbsp; &nbsp; &nbsp; 
                <a href="/register" class="button">Register</a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="/free_playground" class="button">Playground</a>
            </footer>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">

            <h3>About Us</h3>
            The Learn App is designed to make calculations interesting and fun as pictorial form of mathematics concepts makes study interesting. In the playground area, a user can play around with numbers and later put their knowledge to test in quizzes!
        </div>
    </footer>

    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>