<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/main.css">
      <title> Login </title>
   </head>

   <body>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-dismissible alert-{{ category }}" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}

     <div class="container">
       <div class="row">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
           <div class="card card-signin my-5">
             <div class="card-body">
               <h5 class="card-title text-center">Sign In</h5>

               <form method="POST" action = '/login'>
                 <div class="form-label-group">
                   <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                   <label for="inputEmail">Email address</label>
                 </div>

                 <div class="form-label-group">
                   <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                   <label for="inputPassword">Password</label>
                 </div>
                   <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
                   <br>
                <div class = "form-label" style = "float:right">
                 <font align = "right" color = "white"> Don't have an account? </font><a href = "/register"> <b> Register Here </b> </a></font> 
               </div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </body>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</html>