<!DOCTYPE html>
<html>
	<head>
		<title>View Quizzes</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap" rel="stylesheet">

	</head>

	<body>
		{% block body %}

<!-- Navigation -->
        <!-- Grid row-->
        <nav class="row bg-light sticky-top text-center d-flex justify-content-center mb-4">

          <!-- Grid column -->
          <div class="col-md-2 pt-3">
            <h1 class="font-weight-bold" style = "font-family: 'Nanum Brush Script', cursive;">
              <a href = "/adminconsole" style= "text-decoration: none;">LeARn</a>
            </h1>
             
          </div>
          <!-- Grid column -->
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- Grid column -->
          <div class="col-md-2 pt-4">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/student" style= "text-decoration: none;">Home</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 pt-4">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/reviewGrades" style= "text-decoration: none;">Review Grades</a>
            </h6>
          </div>
          <!-- Grid column -->

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- Grid column -->
          <div class="col-md-2 pt-2" >
            <a class="btn btn-primary text-uppercase mt-2" style= "float:right" href="/logout">Log out</a>
          </div>
          
      </nav>

      <div class = "container">
			<div class = "well text-center">
				<br>
				<h1 class = "display-4"> Assignments and Quizzes</h1>
			</div>
		</div> 
		<br>
		
      	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		  
		  <li class="nav-item">

		    <button class="nav-link active btn btn-outline-primary" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Not Submitted</button>
		  </li>
		 
		 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		  <li class="nav-item">
		    <button class="nav-link btn btn-outline-primary" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Submitted</button>
		  </li>
		</ul>


		<!-- Accepted Users Content -->
		<div class="tab-content" id="pills-tabContent">

		  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

		  		<div class = "container">
					<div class = "row">
						<div class = "col md-12">
							<br> <br>
							<table class="table table-bordered text-center align-middle valign-center table-dark">
							  <thead>
								    <tr>
								      <th scope="col">Quiz Name</th>
								      <th scope="col">Teacher</th>
								      <th scope="col">Description</th>
								      <th scope="col">Action</th>
								    </tr>
								  </thead>
								  <tbody>

								  	{% for row in quizzes1 %}
									    <tr>
									      <td>{{row.0}}</td>
									      <td>{{row.1}}</td>
									      <td>{{row.2}}</td>
									       <td><a class="btn btn-success"  href="/loadQuiz?quizName={{row.0}}">Start Quiz</a>
											  </td>
									    </tr>

									{% endfor %}
							    
							  </tbody>
							</table>
						</div>
					</div>
				</div>

		  </div>

		  <!-- Review Users Content -->
		  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
		  	
		  		<div class = "container">
					<div class = "row">
						<div class = "col md-12">
							<br> <br>
							<table class="table table-bordered text-center align-middle valign-center table-dark">
							  <thead>
								    <tr>
								      <th scope="col">Quiz Name</th>
								      <th scope="col">Teacher</th>
								      <th scope="col">Description</th>
								      <th scope="col">Action</th>
								    </tr>
								  </thead>
								  <tbody>

								  	{% for row in quizzes2 %}
									    <tr>
									      <td>{{row.0}}</td>
									      <td>{{row.1}}</td>
									      <td>{{row.2}}</td>
									     <td><a class="btn btn-success"  href="/loadQuiz?quizName={{row.0}}">Retake Quiz</a>
											  </td>
									    </tr>

									{% endfor %}
							    
							  </tbody>
							</table>
						</div>
					</div>
				</div>
		  </div>
		</div>

		{% endblock %}
	</body>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>